<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Graphic Novelist :: Update Check</title>
  </head>
  <body>
    <h1>You have the latest version</h1>
    <p>The latest release of <a href="http://www.mattmccray.com/projects/graphic_novelist">GraphicNovelist</a> is <b><%= @remote_ver.to_s %></b>, your version is <b><%= @local_ver.to_s %></b>.</p>
  </body>
</html>
