<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Graphic Novelist :: Update Check</title>
  </head>
  <body>
    <h1>Server could not be reached</h1>
    <p>Sorry, the <a href="http://www.mattmccray.com/projects/graphic_novelist">server</a> couldn&#8217;t be reached at this time. Please try again a little later.</p>
  </body>
</html>
